<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <p>/--variable0--/</p><br>
        <form accept-charset='utf-8' method='post'>
            <p>
                <input type='text' name='Name' />
            </p>
            <p>
                <input type='password' name='Password' />
            </p>
            <p>
                <input type='submit' value='Отправить' />
            </p>
        </form>
    </div>
</body>
</html>