<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <p>Справка:</p><br>
        <a href='/'>Main page</a><br>
        <a href='/Method1'> Page with image </a><br>
        <a href='/AuthorizationPage'> Authorization </a><br>
        <a href='/RegistrationPage'> Registration </a><br>
        <a href='https://www.youtube.com'> youtube(test ref) </a><br>
        <a href='/WebSocketView'> WebSocketView </a><br>
     </div>
</body>
</html>